manifest {
    name = 'phenotypes'
    mainScript = 'main.nf'
    nextflowVersion = '26.04.0'
}

params {
    outdir = "${projectDir}/results"
    input = null
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
    }
}

process {
    cpus = 1
    memory = '2 GB'
    time = '2h'
    errorStrategy = 'terminate'
}

trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/trace.txt"
}

report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/reports/flowchart.html"
}
