trace.overwrite = true
dag.overwrite = true

profiles {
  standard {
    process.executor = 'local'
    process.memory = '5GB'
    process.cpus = 1
    singularity {
      enabled = true
      autoMounts = true
    }
  }

  lsf {
    process.executor = 'lsf'
    process.cpus = 1
    process.queue = 'production'
    singularity {
      enabled = true
      autoMounts = true
    }
    executor {
        queueSize = 1200
    }
    
    process.memory = '8GB'
    process.clusterOptions = '-R "select[mem>8000] rusage[mem=8000]" -M8000'
    
    withLabel: bigmem {
      process.memory = '30GB'
      process.clusterOptions = '-R "select[mem>30000] rusage[mem=30000]" -M30000'
    }
  } 
  
  <!-- we need separate profile human because it's bigmem take lot's of resource -->
  lsf_human {
    process.executor = 'lsf'
    process.cpus = 1
    process.queue = 'production'
    singularity {
      enabled = true
      autoMounts = true
    }
    executor {
        queueSize = 1200
    }
    
    process.memory = '8GB'
    process.clusterOptions = '-R "select[mem>8000] rusage[mem=8000]" -M8000'
    
    withLabel: bigmem {
      process.queue = 'bigmem'
      process.memory = '300GB'
      process.clusterOptions = '-R "select[mem>30000] rusage[mem=30000]" -M30000'
    }
  } 
}

process {
  withLabel: bcftools {
    container = 'docker://quay.io/biocontainers/bcftools:1.13--h3a49de5_0'
  }

  withLabel: vep {
    container = 'docker://ensemblorg/ensembl-vep'
  }
}