trace.overwrite = true
dag.overwrite = true

profiles {
  standard {
    process {
      executor = 'local'
      memory = '5GB'
      cpus = 1
    }
  }

  lsf {
    process {
      executor = 'lsf'
      cpus = 1
      queue = 'production'
      memory = '8GB'
      clusterOptions = '-R "select[mem>8000] rusage[mem=8000]" -M8000'
      
      withLabel: bigmem {
        memory = '30GB'
        clusterOptions = '-R "select[mem>30000] rusage[mem=30000]" -M30000'
      }
    }
    executor {
        queueSize = 1200
    }    
  } 
  
  // we need separate profile human because it's bigmem take lot's of resource
  lsf_human {
    process {
      executor = 'lsf'
      cpus = 1
      queue = 'production'
      memory = '8GB'
      clusterOptions = '-R "select[mem>8000] rusage[mem=8000]" -M8000'
      
      withLabel: bigmem {
        queue = 'bigmem'
        memory = '300GB'
        clusterOptions = '-R "select[mem>30000] rusage[mem=30000]" -M30000'
      }
    }
    executor {
        queueSize = 1200
    }
  } 
}

singularity {
  enabled = true
  autoMounts = true
}