trace.overwrite = true
dag.overwrite = true

profiles {
  standard {
    process {
      executor = 'local'
      memory = '5GB'
      cpus = 1
    }
  }

  lsf {
    process {
      executor = 'lsf'
      cpus = 1
      queue = 'production'
      memory = '8GB'
      
      withLabel: bigmem {
        queue = 'bigmem'
        memory = '320GB'
      }
    }
    executor {
        queueSize = 1200
    }    
  } 
  
  // we need separate profile human because it takes lot of memory than others
  // it is run on top of lsf profile (e.g. --profile lsf,human)
  human {
    process.memory = '16GB'
  }
}

singularity {
  enabled = true
  autoMounts = true
}