trace.overwrite = true
dag.overwrite = true

params {
  // Ensembl version
  version = 108
  
  // Ensembl repositories
  repo_dir = "/hps/software/users/ensembl/repositories/${USER}"

  // config files
  input_config = "${projectDir}/assets/input_sources.json"
  ini_file = "${projectDir}/assets/DEFAULT.ini"
  rank_file = "${projectDir}/assets/variation_consequnce_rank.json"
  
  // data directories - only work for human
  cache_dir = "/nfs/production/flicek/ensembl/variation/data/VEP/tabixconverted"
  fasta_dir = "/nfs/production/flicek/ensembl/variation/data/VEP/fasta"
  conservation_data_dir = "/nfs/production/flicek/ensembl/variation/data/Conservation"
  
  // output dir
  output_dir = "/nfs/production/flicek/ensembl/variation/new_website"
  temp_dir = params.output_dir + "/tmp"
  
  // pipeline control parameters
  bin_size = 250000
  remove_nonunique_ids = 1
  remove_patch_regions = 1
  skip_vep = 0
  skip_tracks = 0
  force_create_config = 0
  rename_clinvar_ids = 1
}

profiles {
  standard {
    process {
      executor = 'local'
    }
  }

  lsf {
    process{
      executor = 'lsf'
    
      withLabel: bigmem {
        queue = 'bigmem'
        memory = '320GB'
      }
    }
  }

  slurm {
    process {
      executor = 'slurm'
      time = '3d'

      withLabel: bigmem {
        memory = '320GB'
      }
    }
  } 
  
  // we need separate profile human because it takes lot of memory than others
  // it is run on top of lsf profile (e.g. --profile lsf,human)
  human {
    process {
      memory = '32GB'
      time = '7d'
    }
  }
}

process {
  cpus = 1
  memory = '8GB'
  queue = 'production'

  

  withLabel: bcftools {
    container = 'docker://quay.io/biocontainers/bcftools:1.13--h3a49de5_0'
  }

  withLabel: vep {
    container = 'docker://ensemblorg/ensembl-vep'
  }
}

executor {
  queueSize = 1200
  submitRateLimit = '50/10sec'
}

singularity {
  enabled = true
  autoMounts = true
}
