profiles {
	slurm {
		process.executor	= 'slurm'
		process.memory 		= '1GB'
		process.time 		= '2h'

		executor.queueSize 		= 1000
  		executor.submitRateLimit 	= '50/10sec'
	}
}

trace {
    enabled = true
    overwrite = true
    file = "reports/trace.txt"
}

timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file = "reports/report.html"
}
